body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
form{
    margin: auto;
    width:500px;
}
fieldset{
    background: white;
    text-align: left;
    border: 3px solid gray;
    border-radius: 10px;
}
legend{
    text-align: center;
}
label{
    margin: 5px;
}
label:hover{
    background-color: lavender;
}
textarea{
    width: 300px;
    border: 3px solid gray;
    border-radius: 5px;
    height: 50px;
}
input[type=number],  input[type="text"]{
    width: 300px;
    height: 20px;
    border: 3px solid gray;
    border-radius: 5px;
}
input[type=checkbox], input[type=radio]{
    accent-color: mediumpurple;
}
select{
    width: 200px;
    height: 30px;
    border: 3px solid gray;
    border-radius: 5px;
}

input[type=button]{
    width: 200px;
    height: 30px;
    border: 3px solid gray;
    border-radius: 5px;
    background: lavender;
}