header {
    background-color: #f1f1f1;
    text-align: center;
    padding: 10px;
}

footer {
    background-color: #f1f1f1;
    text-align: center;
    padding: 8px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: lightcyan;
}

li a {
    display: block;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color: ;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555555;
    color: white;
}