header {
    margin-left: 170px;
    background-color: lightblue;
    text-align: center;
    padding: 10px;
}

footer {
    background-color: #f1f1f1;
    text-align: center;
    padding: 8px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 1000;
}

.menu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.menu{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    overflow-y: auto;
    z-index: 1000;
}

.menu li {
    position: relative;
}

.menu li a {
    display: block;
    color: #000;
    padding: 16px;
    text-decoration: none;
    font-size: 15px;
    font-weight: 300;
    transition: all 0.3s ease;
}

.menu li a:hover {
    background-color: lightblue;
    color: black;
}

.menu li ul {
    display: none;
    list-style-type: none;
    padding-left: 0;
}

.menu li:hover > ul {
    display: block;
}

.menu li ul li a {
    padding-left: 30px;
    background-color: #e0e0e0;
}

.menu li ul li a:hover {
    background-color: lightblue;
    color: black;
}


div.flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    margin-left: 12%;
    margin-top: 10px;
}

div.flex-container > div{
    flex: 1;
    margin: 10px;
    border: 2px black solid;
    padding: 15px;
    border-radius: 10px;
}

@media screen and (max-width:600px){
    div.flex-container{
        flex-direction: column;
    }
}
img{
    width: 200px;
}

#but1, #button_1, input[type='submit'] {
    width: 200px;
    height: 30px;
    border: 1px solid black;
    border-radius: 5px;
    background: white;
}
#d1 {
    display: inline-block;
}
#d2{
    display: inline-block;
}